<h2> Add a Celebrity </h2>

<form method="post" action="/celebrities">
  <label for="celebrity-name-input"> Name of Celebrity </label>
  <input  id="celebrity-name-input" type="text" name="celebrityName">
  <br>                                <!-- req.body.productName -->

  <label for="celebrity-occupation-input"> Celebrity Occupation </label>
  <input  id="celebrity-occupation-input" type="text" step="0.1" name="celebrityOccupation">
  <br>                                              <!-- req.body.productPrice -->

  <label for="celebrity-catchphrase-input"> Celebrity catchPhrase </label>
  <input  id="celebrity-catchphrase-input" type="text" name="celebrityCatchPhrase">
  <br>                                <!-- req.body.productImageUrl -->

  <button> Add This Celebrity </button>
</form>
